/*font-family: 'Rancho', cursive;

            font-family: 'Caveat', cursive;

            font-family: 'Poiret One', cursive;

            font-family: 'Josefin Sans', sans-serif;*/

body{
    text-align: center;
    padding-bottom: 200px;
}

body > div {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 200px;
}

.image-preview {
    position: relative;
    width: 590px;
    height: 300px;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    text-shadow: 0px -1px 0px #303030;
}

.image-preview .left {
    width: 61%;
    position: absolute;
    margin-top: 14px;
    text-align: left;
    padding-left: 57px;
    transform: rotate(10deg);
    /* color: white; */
}

.image-preview h1 {
    font-family: 'Caveat', cursive;
    font-size: 51px;
    /* transform: rotate(-14deg); */
}

.image-preview h2 {

font-size: 20px;

margin-top: -33px;
}

.image-preview .bg1 {
    /* background-color: #424242; */
    background-color: #63B2EF;
    position: absolute;
    height: 135%;
    width: 100%;
    top: -85px;
    z-index: -2;
    left: -280px;
    transform: rotate(10deg);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.image-preview .bg2 {
     background-color: #424242;
     position: absolute;
     background-image: url(random_grey_variations.png);
     height: 135%;
     width: 110%;
     top: 135px;
     /* color: white; */
     border-radius: 6px;
     z-index: -2;
     left: -280px;
     transform: rotate(10deg);
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.image-preview img {

position: absolute;

top: -110px;

right: 15px;
}

.image-preview .list {

    /* background-color: #424242; */

    color: #C7C7C7;

    margin-top: 37px;

    color: #F0F7FF;
}

.thumbnail {
    position: relative;
    width: 80px;
    height: 80px;
}

.thumbnail * {
    position: absolute;
    top: 0;
    left: 0;
}

.thumbnail h1 {
    padding: 30px;
    background-image: url(random_grey_variations.png);
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    transform: rotate(9deg);
    font-size: 15px;
    top: 44px;
    left: -22px;
    padding-top: 2px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
}

.thumbnail img {

top: -142px;

width: 60px;

left: 18px;
}

.thumbnail i {
    
color: #F16529;
}

.thumbnail .fa-html5 {

left: 9px;

top: 12px;

font-size: 28px;

text-shadow: 0px 1px 0px rgba(93, 93, 93, 0.29);
}

.thumbnail .fa-css3 {

top: 21px;

left: 10px;

display: none;

}

.accurate-text {
    position: relative;
    width: 616px;
    height: 286px;
    font-family: 'Josefin Sans', sans-serif;
}

.accurate-text * {
    position: absolute;
}

.accurate-text .on {
    left: 150px;
    z-index: -1;
}

.accurate-text .off {
    right: 150px;
    z-index: -1;
}

.accurate-text .on-txt,
.accurate-text .off-txt {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #63B2EF;
    color: #EEEEEF;
    padding: 5px;
    border-radius: 3px;
}

.accurate-text .on-txt {

top: 160px;

left: 236px;
}

.accurate-text .off-txt {

top: 160px;

left: 463px;
}

.accurate-text .description {
    padding: 30px;
    background-image: url(random_grey_variations.png);
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 18px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
    /* border-radius: 10px; */
    right: 0;
    margin-left: 104px;
    border-top-left-radius: 20px;
    background-color: #63B2EF;
    border-bottom-left-radius: 20px;
}

.autohide {
    position: relative;
    width: 616px;
    height: 423px;
    font-family: 'Josefin Sans', sans-serif;
}

.autohide * {
    position: absolute;
    right: 0;
}

.autohide .description {
     padding: 30px;
     background-image: url(random_grey_variations.png);
     font-family: 'Josefin Sans', sans-serif;
     color: white;
     font-size: 18px;
     box-shadow: 0 0px 5px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
     /* border-radius: 10px; */
     margin-left: 104px;
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
 }

.dark {
    position: relative;
    width: 616px;
    height: 423px;
    font-family: 'Josefin Sans', sans-serif;
}

.dark * {
    position: absolute;
    right: 0;
}

.dark .description {
    padding: 30px;
    background-image: url(random_grey_variations.png);
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 18px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
    /* border-radius: 10px; */
    left: 0;
    margin-right: 221px;
    margin-top: 271px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}